.expenses-list-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__category-name {
        font-family: 'Poppins', sans-serif;
        color: #5F2EEA;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .75px;
        line-height: 20px;
    }

    &__category-cost {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 32px;
        color: #14142B;
        font-weight: 700;
    }
}