.main {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 56px;
    padding-bottom: 1rem;
    overflow-y: auto;
    height: auto;
    flex-grow: 1;
    background-color: #F7F7FC;
    font-family: 'Poppins', sans-serif;
}